<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header>
   <div class="nav">
      <th:block>
         <nav th:replace="fragments :: header"></nav>
      </th:block>
   </div>
</header>
<body>
<div class="container-lg">
   <form action='/chainMath' method='POST'>

      <div class="container">
         <h4 class="legend">Select a pizza chain:</h4>
         <select name="chainName" class="form-select form-select-lg mb-3">
            <option selected>Select a Chain</option>
            <option value="pizzaHut">Pizza Hut</option>
            <option value="dominos">Domino's</option>
            <option value="papaJohns">Papa John's</option>
         </select>
      </div>
      <br>
      <h4 class="legend">Enter the number of people eating pizza:</h4>
      <div th:replace="~{fragments :: humanCountForm}"></div>

      <button type='submit'>Calculate</button>
   </form>
</div>
</body>
</html>