<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="~{fragments :: header}"></header>
<body>
<br>
<br>
<div class="container-lg">
   <form action='/customCalc' method='POST'>
      <h4 class="legend">Enter pizza sizes:</h4>
      <div th:replace="~{fragments :: pizzaSizeForm}"></div>
      <br>
      <h4 class="legend">Enter the number of people eating pizza:</h4>
      <div th:replace="~{fragments :: humanCountForm}"></div>

      <button type='submit' class="btn btn-outline-primary">Calculate</button>
   </form>
</div>
</body>
</html>