<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header>
   <nav th:replace="~{fragments :: header}"></nav>
</header>
<main>
   <div class="container">
      <br>
      <h2>Do you need to know how many pizzas to buy for a group?</h2>
      <br>
      <h4>If you're buying pizza from a nationwide chain, select Chain Math above. If you're buying from a mom 'n pop store, choose Custom Calc.</h4>
      <br>
   </div>
</main>
</body>
</html>